@model HavenAtTheCrossroads.Models.SessionModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>SessionModel</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <input asp-for="SessionId" class="form-control" />
                <span asp-validation-for="SessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DM" class="control-label"></label>
                <input asp-for="DM" class="form-control" />
                <span asp-validation-for="DM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InGameDate" class="control-label">In Game Date</label>
                <input asp-for="InGameDate" class="form-control" />
                <span asp-validation-for="InGameDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <p class="h3">Characters</p>
                @for (int i = 0; i < Model.Characters.Count; i++)
                {

                    <div class="row align-items-end">
                        <div class="col">
                            <label asp-for="Characters[i].Name" class="control-label">Character Name</label>
                            <input asp-for="Characters[i].Name" class="form-control"  />
                        </div>
                        <div class="col">
                            <label asp-for="Characters[i].UserId" class="control-label">Player Name</label>
                            <input asp-for="Characters[i].UserId" class="form-control"  />
                        </div>
                        <div class="col">
                            <input method="post" type="submit" class="btn btn-danger btn-sm" value="-" asp-route-index="@i" asp-action="DelChar"  />
                        </div>
                        <br />
                    </div>
                
                }
                <input method="post" type="submit" class="btn btn-success btn-sm" value="+" name="AddChar" asp-action="AddChar" />
                

            </div>


            <div class="form-group">
                <p class="h3">Ad-hoc Experience</p>
                @for (int i = 0; i < Model.AdHocs.Count; i++)
                {
                    <div class="row align-items-end">
                        <div class="col">
                            <label asp-for="AdHocs[i].Name" class="control-label" >Adhoc Name</label>
                            <input asp-for="AdHocs[i].Name" class="form-control"  />
                        </div>
                        <div class="col">
                            <label asp-for="AdHocs[i].Value" class="control-label" >Experience</label>
                            <input asp-for="AdHocs[i].Value" class="form-control"  />
                        </div>
                        <div class="col">
                            <input method="post" type="submit" class="btn btn-danger btn-sm" value="-" asp-route-index="@i" asp-action="DelAdhoc" />
                        </div>
                        <br />
                    </div>
                }
                <input method="post" type="submit" class="btn btn-success btn-sm" value="+" name="AddAdhoc" asp-action="AddAdhoc" />
            </div>

            <div class="form-group">
                <p class="h3">Combat Experience</p>
                @for (int i = 0; i < Model.Monsters.Count; i++)
                {
                    <div class="row align-items-end">
                        <div class="col">
                            <label asp-for="Monsters[i].Name" class="control-label" >Monster</label>
                            <input asp-for="Monsters[i].Name" class="form-control"  />
                        </div>
                        <div class="col">
                            <label asp-for="Monsters[i].Cr" class="control-label" >CR</label>
                            <select asp-for="Monsters[i].Cr" class="form-control" >
                            @foreach(string key in MonsterModel.CrDict.Keys)
                            {
                                <option value="@key">@key</option>
                            }
                            </select>
                        </div>
                        <div class="col">
                            <label asp-for="Monsters[i].Count" class="control-label" >Count</label>
                            <input asp-for="Monsters[i].Count" class="form-control"  />
                        </div>

                        <div class="col">
                            <input method="post" type="submit" class="btn btn-danger btn-sm" value="-" asp-route-index="@i" asp-action="DelMonster" />
                        </div>
                        <br />
                    </div>
                }

                <input method="post" type="submit" class="btn btn-success btn-sm" value="+" name="AddMonster" asp-action="AddMonster" />
            </div>

            <div class="form-group">
                <label asp-for="Gold" class="control-label"></label>
                <input asp-for="Gold" class="form-control" />
                <span asp-validation-for="Gold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exp" class="control-label"></label>
                <input asp-for="Exp" class="form-control" />
                <span asp-validation-for="Exp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
